<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <p>{{ vm.message }}</p>

    
</div>

<!-- <video>
    <source src="http://fs.to/get/dl/5q1zymtwdqy6dj5crtchcrn2e.0.1139013157.974127405.1452032606/The.Listener.S05E04.720p.WEB-DL.Rus.Eng.FOX.mkv"  type="video/mp4">>
</video> -->
<!-- <video width='1024' height='768' controls autoplay> 
<source src="http://fs.to/get/dl/5q1zymtwdqy6dj5crtchcrn2e.0.1139013157.974127405.1452032606/The.Listener.S05E04.720p.WEB-DL.Rus.Eng.FOX.mkv" type='video/'</video> -->
<embed  type="video/x-matroska" width="1024" height="768" 
src ="http://fs.to/get/dl/5q1zymtwdqy6dj5crtchcrn2e.0.1139013157.974127405.1452032606/The.Listener.S05E04.720p.WEB-DL.Rus.Eng.FOX.mkv" autoPlay="true"></embed>